{% extends "static.html" %}

{% block content %}
    <h1 class="page-title">Matomo API Status</h1>
    <div class="page-content">
        <table id="apiCallsTable" class="display">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Status</th>
                    <th>Total Rows</th>
                    <th>Error Message</th>

                </tr>
            </thead>
            <tbody>
                {% for call in api_calls %}
                <tr>
                    <td>{{ call.timestamp.strftime("%d-%m-%Y") }}</td>
                     <td>
                        {{ call.status_code }}
                        {% if call.status_code == 200 %}
                            <span class="status-indicator" style="background-color: green;"></span>
                        {% else %}
                            <span class="status-indicator" style="background-color: red;"></span>
                        {% endif %}
                    </td>
                    <td>{{ call.total_rows }}</td>
                    <td>{{ call.error_message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
