{% extends "static.html" %}

{% block content %}
    <h1 class="page-title">Matomo API Status</h1>
    <div class="page-content">
        <table class="datatable table table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th style="text-align: center">Date</th>
                    <th style="text-align: center">Time</th>
                    <th style="text-align: center">Total Rows</th>
                    <th style="text-align: center">Error Message</th>
                </tr>
            </thead>
            <tbody>
                {% for api_call in api_calls %}
                <tr>
                    <td style="text-align: center">
                        <span class="status-indicator"
                              style="background-color: {% if api_call.status_code == 200 %}green{% else %}red{% endif %}"
                              data-toggle="tooltip"
                              title="{{ api_call.status }}">
                        </span>
                    </td>
                    <td style="text-align: center">{{ api_call.created_at.strftime("%d-%m-%Y") }}</td>
                    <td style="text-align: center">{{ api_call.created_at.strftime("%H:%M:%S") }}</td>
                    <td style="text-align: right">{{ api_call.total_rows_found }}</td>
                    <td style="text-align: center">
                        {% if api_call.error_message %}
                            <span data-toggle="tooltip" title="{{ api_call.error_message }}">
                                {{ api_call.error_message[:16] }}{% if api_call.error_message|length > 16 %}...{% endif %}
                            </span>
                        {% else %}
                            None
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
