{% extends "static.html" %}

{% block content %}
    <h1 class="page-title">Course Contents</h1>
    <div class="page-content">
        <div class="d-flex justify-content-end mb-3">
            <a href="{{ url_for('create_course_content') }}" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> New Content</a>
        </div>
        <form action="{{ url_for('process_selection') }}" method="post">
            <table class="datatable table table-condensed table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align: center">Type</th>
                        <th style="text-align: center">Language</th>
                        <th style="text-align: center">Title</th>
                        <th style="text-align: center">Number</th>
                        <th style="text-align: center">YT / Instructions</th>
                        <th style="text-align: center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course_content in course_contents %}
                    <tr>
                        <td style="text-align: center">
                            <input type="checkbox" name="selected_courses" value="{{ course_content.id }}">
                        </td>
                        <td style="text-align: center">{{ course_content.type_of }}</td>
                        <td style="text-align: center">{{ course_content.language }}</td>
                        <td style="text-align: left">{{ course_content.lecture_title }}</td>
                        {% if course_content.type_of == 'Lecture' %}
                            <td style="text-align: right">{{ course_content.lecture_no }}</td>
                            <td style="text-align: left"><a href="{{ course_content.youtube_link }}" target="_blank">{{ course_content.youtube_link }}</a></td>
                        {% else %}
                            <td style="text-align: right">{{ course_content.lecture_no }} - {{ course_content.ex_number }}</td>
                            <td style="text-align: left">{{ course_content.ex_instruction }}</td>
                        {% endif %}
                        <td style="text-align: center">
                            <a href="{{ url_for('edit_course_content', id=course_content.id) }}" class="btn btn-warning btn-sm" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <form action="{{ url_for('delete_course_content', id=course_content.id) }}" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete" onclick="return confirm('Are you sure you want to delete this user?')"><i class="fas fa-trash"></i></button>
                            </form>
                            {% set file_name = course_content.language ~ '_' ~ course_content.type_of ~ '_' ~ course_content.lecture_no ~ '.html' %}
                            {% if file_exists(file_name) %}
                                <a href="{{ url_for('download_file', file_name=file_name) }}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Download"><i class="fas fa-download"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Generate Reports</button>
        </form>
    </div>
{% endblock %}
